

    .container {
      display: 'flex';
      justify-content: 'center';
      margin-Top: '20px'
    }

    .button{
      padding: '10px 20px';
      margin: '0 10px';
      background-color: '#4caf50';
      color: 'white';
      border: 'none';
      border-Radius: '5px';
      font-size: '16px';
    }